.item {
    padding: none
}

body {
    color: whitesmoke;
}

.shadow {
    align-content: center;
}

btn btn-primary{
    text-align: right;
}

#cart:hover {
    color: lightgrey;
    cursor: pointer;
}